conda.enabled = true
conda.cacheDir = '/path/to/cache'
dag.file = 'dag.dot'

report {
    enabled = true
    file = 'report.html'
    overwrite = true
}

executor {
    name   = 'local'
    cpus   = 56
    memory = '250 GB'
}



params {
    // INPUT DIRECTORY
    reads = "data/*.fastq.gz"

    // OUTPUT DIRECTORIES
    output_qc = "results" // if QC outputs should be put into different directory
    outdir = "results"

    out_raw_qc = "01_raw_nanoplot"
    out_filtered = "02_filtered_reads"
    out_host_removal = "03_host_removed_reads"
    out_human_removal = "04_human_removed_reads"
    out_filtered_qc = "05_filtered_nanoplot"

    out_assembly = "11_assembly"
    out_polishing = "12_polishing"
    out_binning = "13_binning"

    out_class_reads = "21_classified_reads"
    out_class_bracken = "22_classified_bracken"
    out_class_assembly = "23_classified_assembly"
    out_class_bins = "24_classified_bins"
    out_class_bins_qc = "25_classified_bins_qc"
    out_mapping_ref = "26_mapping_to_reference"

    out_multiqc_qc = "31_multiqc_qc"
    out_multiqc_reads = "32_multiqc_reads_classification"
    out_multiqc_assembly = "33_multiqc_assembly_classification"
    out_multiqc_binning = "34_multiqc_binning_classification"

    // Database parameters
    kraken_db = "/path/to/kraken_db" // Kraken db
    bracken_db_files = "path/to/bracken_db" // Bracken db
    db_dir = "db" // Generic db folder

    classify_16S = false
    emu_db = "path/to/silva_db" 

    // Quality Parameters
    min_q = 10                 
    min_len = 1000  

    // Host Depletion
    host_ref = "path/to/host_ref"
    host_depletion = false

    // Homo Sapiens removal 
    human_depletion = false
    human_ref = "path/to/human_ref"

    // Skipping steps
    skip_binning = false
    skip_assembly = false

    // Mapping to ref 
    map_to_ref = false
    ref = "path/to/mapping_ref"

    // Assembly + Polish Parameters
    tool = "flye"
    flye_mode = "--nano-hq" 
    medaka_model = "r1041_e82_400bps_sup_v4.3.0"

    use_checkm2 = true
}

profiles {
    nt_core {
        params.kraken_db = "path/to/nt_core_db" 
        params.bracken_db_files = "path/to/nt_core_db" 
        process {
            withName: 'KRAKEN2' {
                cpus = 30
                maxForks = 1 
            }
        }
    }
}

// Conda
process {
    withLabel: 'env_tax' {
        conda = 'bioconda::kraken2=2.17.1 bioconda::bracken=3.1'
    }
    withLabel: 'env_krona' {
        conda = "bioconda::krona=2.8.1"
    }
    withLabel: 'env_binning' {
        conda = 'bioconda::checkm2=1.1.0'
    }
    withLabel: 'env_metaquast'{
        conda = 'bioconda::quast=5.3.0'
    }
    withLabel: 'env_multiqc' {
        conda = 'bioconda::multiqc=1.33'
    }
    withLabel: 'env_porechop' {
        conda = 'bioconda::porechop=0.2.4'
    }
    withLabel: 'env_assembly' {
        conda = 'bioconda::flye=2.9.1 bioconda::raven-assembler=1.8.3'
    }
    withLabel: 'env_polishing' {
        conda = 'bioconda::medaka=2.2.0'
    }
    withLabel: 'env_nanoplt' {
        conda = 'bioconda::nanoplot=1.46.2'
    }
    withLabel: 'env_mapping' {
        conda = 'bioconda::minimap2=2.30'
    }
    withLabel: 'env_emu' {
        conda = 'bioconda::emu=3.6.2'
    }
    withLabel: 'env_filt' {
        conda = 'bioconda::nanofilt=2.8.0'
    }
    withLabel: 'env_semibin' {
        conda = 'bioconda::semibin=2.2.1'
    }
}

